###############################################################
# C2AE configuration file, to be edited manually
###############################################################

# C2AE settings
###############################################################
## interface / port the API will listen on
listen-grpc: localhost:5556
grpc-cert: c2ae-cert.pem
grpc-key: c2ae-key.pem
listen-http: localhost:8886
http-cert: c2ae-cert.pem
http-key: c2ae-key.pem

# Database settings
###############################################################
## supported types are sqlite3 and postgres
db-type: sqlite3
##
db-file: /tmp/c2ae.sqlite
## username to connect to postgres
#db-username: c2ae_test
## password to connect to postgres
#db-password: teserakte4
## set to true to show detailed logging of database operations
#db-logging: 1
## host of the db
#db-host: 127.0.0.1
## db name
#db-database: e4
## passphrase used to derive the key to encrypt keys in the db
#db-encryption-passphrase: meh
## TLS connection: enabled || selfsigned || insecure
db-secure-connection: enabled
# Postgres database schema
# db-schema: c2ae_test

# C2 settings
###############################################################
# host:port, e.g. localhost:5555
c2-host-port: localhost:5555
# path to the PEM-encoded certificate file, either absolute or relative to this file
c2-cert: c2-cert.pem

# OpenCensus settings
###############################################################
oc-agent-addr: localhost:55678
oc-sample-all: true
